.homeContainer {
    background: $secondaryColor;
    overflow: hidden;
    position: relative;
}

.embeddedLogo {
    position: absolute;
    right: -200px;
    bottom: -220px;
    filter: blur(8px);
}

.embeddedLogo img {
    width: 70%;
    height: auto;
}

.projectTitle {
    color: white;
}

.button {
    background-color: $primaryColor;
    color: white;
}

.imageAlignLeft
.blockImage {
    flex: 0 1 50px;
    max-width: 50px;
    margin-top: 1.5em;
}

.imageAlignLeft {
    margin: 1.5em;
}
